
{% load static %}


<div class="home-content" id="home-content">
    <div class="home-image">
        <img 
            src="{% static 'images/nonilon.png' %}" 
            alt="Makie Tech Face" 
        >
    </div>

    <div class="home-content-article">
        
        <span id="home-icon" class="home-icon">
            <img src="{% static 'images/home icon.svg' %}" alt="home icon"> 
        </span>

        <article class="my-home-introduction">

            <p class="koho-bold">
                Hi, I'm Nonilon Jr Nuñez. 
            </p>

            <p class="koho-regular">
                Passionate and dedicated educator with 5 years 
                experience in teaching English and a month serving at 
                the City Government of Masbate, City Administrator 
                Office. 
            </p>

            <p class="koho-regular">
                Skilled in curriculum development, classroom 
                management, student engagement. Commited to 
                fostering a positive learning enviroment that 
                encourages academic and personal growth. 
            </p>


        </article>
        
    </div>
</div>
